{% extends "base_generic.html" %}

{% block content %}
	<br>
	<div class="exibName">
		<h1>{{ exhibit.name }}</h1>
	</div>

<br>
<br>
<div class="animalCenter">
	<h1>Animals</h1>

	{% for animals in exhibit.animal_set.all %}
		<p><a href="/zoo/animal/{{ animals.id }}">{{ animals.name }}</a></p>
	{% endfor %}

	 <h1>Neighbors</h1>

	{% for neighbors in exhibit.fromExhibit.all %}
		<p><a href="{{ neighbors.toExhibit.id }}">{{ neighbors.direction }} {{ neighbors.toExhibit }}</a></p>
	{% endfor %}
</div>	
{% endblock %}
