


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

img {
height: 300px;
width: 400px;
}

.animalCenter {
display: block;
margin-left: auto;
margin-right: auto;
}


#zoo {
font-size: 125px;
border-radius: 5px;
border-style: solid;
border-width: 5px;
}

#zooList {
font-size: 75px;
}

.center {
text-align: center;
}

.description {
text-align: center;
}

.content {
margin-left: 100px;
margin-right: 100px;
}

.exibName {
text-align: center;
}

.exibName h1 {
font-size: 60px;
}

.background_image {
background-color: #white;
}

h1 {
font-weight: bold;
text-decoration: underline;
color: green;
}

p {
font-color: brown;
}

.animalCenter {
text-align: center;
}
